<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorCode" version="1.0.1" targetFramework="net461" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net461" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net461" />
  <package id="NDocUtil" version="0.3.0.10" targetFramework="net461" />
  <package id="SimpleSyndicate" version="2.0.7" targetFramework="net461" />
  <package id="SimpleSyndicate.Sandcastle" version="2.0.4" targetFramework="net461" />
  <package id="SimpleSyndicate.UriTemplate" version="1.0.3" targetFramework="net461" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
</packages>